<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
	<head>
		{% block pre-head %}
		{% endblock %}

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- JQuery -->
		<script src="/globalfiles/static/offline/js/jquery-3.7.1.js"></script>

		<!-- Bootstrap and Popper.js -->
		<link rel="stylesheet" href="/globalfiles/static/offline/css/bootstrap.css">
	    <script src="/globalfiles/static/offline/js/bootstrap.js"></script>
	    <script src="/globalfiles/static/offline/js/popper.js"></script>

		<!-- Custom CSS for left navbar -->
		<link rel="stylesheet" href="/globalfiles/static/custom/css/navbar-fixed-left.min.css">

		{% block head %}
		{% endblock %}

		{% block title %}
		<title>Fileshare</title>
		{% endblock %}
	</head>
	<body>
		<div class="jumbotron vertical-center">
			<!-- Navbar -->
			<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-left">
				<a class="navbar-brand" href="/">
					<img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
					Fileshare
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<br>
						{% if user.is_authenticated %}
						{% if user.is_admin %}
						<li class="nav-item">
							<a class="nav-link" href="/admin/">Welcome, {{user.username}}</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="#">Welcome, {{user.username}}</a>
						</li>
						{% endif %}
						{% endif %}
						{% block navbar %}
						{% endblock %}
						{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="/customauth/logout/">Logout</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="/customauth/login/">Login</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</nav>
			<!-- Navbar -->
			{% block background %}
			<div>
			{% endblock %}
				<div id="main-container" class="container-lg" style="align-content: center;">
					{% block content %}
					{% endblock %}
				</div>
			{% block background-end %}
			</div>
			{% endblock %}
		</div>
		{% block foot %}
		{% endblock %}
	</body>
</html>
