{% extends 'lightfileshare/lightfileshare.html' %}


{% block head %}
<script type="text/javascript">
  function filenameUpdate() {
    const filename = document.getElementById('fileuploadForm').value.split(/(\\|\/)/g).pop();
    document.getElementById('fileuploadIndicate').innerHTML = '<p class="text-secondary">' + filename + '</p>';
    document.getElementById("titleForm").setAttribute("placeholder", filename)
  }
</script>
<meta name="csrf_token" content="{{ csrf_token }}">
{% endblock %}


{% block background %}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh; background-color: #5C837422;">
{% endblock %}
{% block background-end %}
</div>
{% endblock %}


{% block content %}
<div class="container text-center" style="max-width: 720px; min-width:320px; ">
  <form id="uploadForm" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-outline mb-4">
      <label class="form-label">Posted By</label>
      {% if user.is_authenticated %}
      <input type="text" class="form-control border border-info" placeholder="optional" name="posted_by" value="{{user.username}}" disabled>
      {% else %}
      <input type="text" class="form-control border border-info" placeholder="optional" name="posted_by" value="Your IP" disabled>
      {% endif %}
    </div>

    <div class="form-outline mb-4">
      <label class="form-label">Password</label>
      <input type="password" class="form-control border border-info" placeholder="optional, recommended" name="password">
    </div>

    <div class="form-outline mb-4">
      <label class="form-label">Title</label>
      <input id="titleForm" type="text" class="form-control border border-info" placeholder="" name="title">
    </div>

    <div class="form-outline mb-4">
      <label class="btn btn-info btn-block mb-4">File to Upload
        <input id="fileuploadForm" name="file" type="file" onchange="filenameUpdate()" style="display:none;">
      </label>
      <div id="fileuploadIndicate">
        <p>...</p>
      </div>
    </div>

    <div>
      <button id="upload-btn" type="submit" class="btn btn-info btn-block mb-4">Create</button>
    </div>

  </form>
  <div id="uploadProgress" class="progress invisible">
  </div>
</div>
{% endblock %}


{% block foot %}
<script>
  const uploadForm = document.getElementById('uploadForm');
  const uploadFile = document.getElementById('fileuploadForm');
  const uploadProgress = document.getElementById('uploadProgress');
  
  $("#uploadForm").submit( function(e) {
      e.preventDefault();
      $form = $(this)
      var formData = new FormData(this);
      const filedata = uploadFile.files[0];
      if(filedata != null){
        uploadProgress.classList.remove("invisible");
      }

      $.ajaxSetup({
        headers: { "HTTP_X_CSRFTOKEN": '{{csrf_token}}' }
      });
      // console.log("Cookie Set: {{csrf_token}}")

      $.ajax({
          type: 'POST',
          url:'/create/',
          data: formData,
          dataType: 'json',
          beforeSend: function() {},
          xhr: function() {
              const xhr = new window.XMLHttpRequest();
              xhr.upload.addEventListener('progress', e => {
                  if(e.lengthComputable){
                      const percentProgress = (e.loaded/e.total)*100;
                      // console.log(percentProgress);
                      uploadProgress.innerHTML = `<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: ${percentProgress}%" aria-valuenow="${percentProgress}" aria-valuemin="0" aria-valuemax="100"></div>`
                  }
              });
              return xhr
          },
          success: function(response){
              window.location.href = "/"
          },
          error: function(err){
              try {
                  const response = JSON.parse(err.responseText);
                  if (response.message) {
                      // redirect with query param
                      window.location.href = "/?fail=" + encodeURIComponent(response.message);
                  } else {
                      //console.log("Unexpected error:", err.responseText);
                  }
              } catch(e) {
                  //console.log("Failed to parse error response:", err);
              }
          },
          cache: false,
          contentType: false,
          processData: false,
      });
  });
</script>
{% endblock %}
